<h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"><%= table_name %></h1>
<div class="flex flex-col">
  <div class="overflow-x-auto shadow-md sm:rounded-lg">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden ">
        <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
          <thead class="bg-gray-100 dark:bg-gray-700">
            <tr>
              <% @model.index_methods.each do |method| %>
                <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                  <%= column_name(method) %>
                  <% if is_attribute?(method) %>
                    <%= link_to admin_data_index_path(merged_params({sort_params: {sort_by: method, order: :desc}})) do %>
                      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path></svg>
                    <% end %>
                    <%= link_to admin_data_index_path(merged_params({sort_params: {sort_by: method, order: :asc}})) do %>
                      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7l4-4m0 0l4 4m-4-4v18"></path></svg>
                    <% end %>
                  <% end %>
                </th>
              <% end %>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
            <% @objects.each do |object| %>
              <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                <% @model.index_methods.each do |method| %>
                  <%= index_td(object, method, class: 'py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white') %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="py-12 flex justify-center items-end">
  <div class="justify-self-start inline-flex">
    <%= form_with url: admin_data_index_path(merged_params), method: :get do |f| %>
      <% @query_params.each_key do |qp| %>
        <% if @query_params[qp].present? %>
          <% next if qp == :per %>
          <% val = @query_params[qp] %>
          <% p 'qp====', qp %>
          <%= f.hidden_field qp, value: val.to_json  %>
        <% end %>
      <% end %>
      <%= f.label :per, 'Per page', class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
      <%= f.number_field :per, value: "#{@query_params[:per] || 25}", class: "block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
    <% end %>
  </div>
  <%= paginate @objects, remote: true %>
</div>
<p> <%= @query_params %> </p>